.header {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray-700);
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo img {
  animation: 7s ease-out infinite fly;
}

@keyframes fly {
  50% {
    transform: translate(50%, -90%) rotate(0) scale3d(1, 0.8, 1);
  }
  25% {
    transform: translate(-30%, -20%) rotate(15deg) scale3d(0.9, 1, 0.8);
  }
  0% {
    transform: translate(0%) rotate(0) scale3d(0);
  }
}

.logo h1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 3rem;
  color: var(--purple);
}

.logo span {
  color: var(--purple-dark);
}

.newTaskBar {
  position: absolute;
  bottom: -1.5rem;
  width: 100%;
  max-width: 736px;
  height: 54px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.newTaskBar input,
.newTaskBar button {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
}

.newTaskBar input {
  flex: 1 0 100%;
  max-width: 638px;
  width: 100%;
  color: var(--gray-300);
  background: var(--gray-500);
  outline: none;
  transition: border 0.2s;
  padding: 1rem;
}

.newTaskBar input:focus {
  border: 1px solid var(--purple);
  color: var(--gray-100);
}

.newTaskBar button {
  flex: 1 0 100%;
  max-width: 90px;
  color: var(--gray-100);
  background: var(--blue-dark);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 140%;
  transition: background-color 0.2s;
}

.newTaskBar button:hover {
  background: var(--blue);
}

@media (max-width: 785px) {
  .newTaskBar {
    padding: 0 2rem;
  }
  .newTaskBar input {
    flex-basis: 70%;
  }
}

@media (max-width: 450px) {
  .header {
    margin-bottom: 3rem;
  }
  .newTaskBar input {
    flex-basis: 100%;
  }
  .newTaskBar button {
    max-width: 100%;
  }
}
