.taskListHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.taskListHeader div {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 17px;
  color: var(--blue);

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.taskListHeader div:nth-child(2) {
  color: var(--purple);
}

.taskListHeader div span {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;

  height: 19px;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .taskListHeader {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
}
