.taskList {
  width: 100%;
  max-width: 736px;
  margin-top: 5.6rem;
  display: flex;
  flex-direction: column;
}

.taskListItems {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5rem;

  list-style: none;
}

@media (max-width: 785px) {
  .taskList {
    padding: 0 2rem 5rem 2rem;
  }
}
